* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v2_16 {
  width: 100%;
  min-height: 100vh;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  max-height: calc(100vh - 1px);
}
.v2_20 {
  width: 441px;
  height: 100%;
  background: rgba(68,68,68,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_21 {
  width: 100%;
  height: 100%;
  background: rgba(34,34,34,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 441px;
  overflow: hidden;
}
.v7_4 {
  width: 37px;
  height: 28px;
  background: url("../images/v7_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 358px;
  left: 137px;
  overflow: hidden;
}
.v9_3 {
  width: 196px;
  height: 196px;
  background: url("../images/v9_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 125px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v9_4 {
  width: 129px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 257px;
  left: 156px;
  font-family: Source Serif 4;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v9_5 {
  width: 42px;
  height: 30px;
  background: url("../images/v9_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 357px;
  left: 205px;
  overflow: hidden;
}
.v9_7 {
  width: 40px;
  height: 40px;
  background: url("../images/v9_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 352px;
  left: 271px;
  overflow: hidden;
}
.v9_2 {
  width: 260px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 440px;
  left: 1051px;
  font-family: Source Serif 4;
  font-weight: Regular;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v11_5 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 361px;
  height: 127px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 913px;
  left: 40px;
  border-top-left-radius: 68px;
  border-top-right-radius: 68px;
  border-bottom-left-radius: 68px;
  border-bottom-right-radius: 68px;
  overflow: hidden;
}

.v11_6 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  font-family: Spartan;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}



